@mixin icon(
    $image-url: '',
    $width: 18px,
    $height: 18px,
) {
    width: $width;
    height: $height;
    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
    vertical-align: -4px;
    background-image: url($image-url);
}

@mixin bold-text-color($text-color: var(--color-green)) {
    font-weight: bold;
    color: $text-color;
}

@mixin to-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin _flexbox(
    $justify-content,
    $align-items,
    $width: null,
    $height: null
) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;

    @if width {
        width: $width;
    }
    
    @if $height {
        height: $height;
    }
}

@mixin flex-x-between-y-center($width: null, $height: null) {
    @include _flexbox(
        $justify-content: space-between,
        $align-items: center,
        $width: $width,
        $height: $height
    );
}

@mixin flex-x-end-y-center($width: null, $height: null) {
    @include _flexbox(
        $justify-content: end,
        $align-items: center,
        $width: $width,
        $height: $height
    );
}

@mixin flex-x-start-y-center($width: null, $height: null) {
    @include _flexbox(
        $justify-content: start,
        $align-items: center,
        $width: $width,
        $height: $height
    );
}

@mixin flex-x-center-y-center($width: null, $height: null) {
    @include _flexbox(
        $justify-content: center,
        $align-items: center,
        $width: $width,
        $height: $height
    );
}