@mixin scrollbar(
    $track: var(--color-background),
    $thumb: #4b4b4b,
    $thumb-border: var(--color-background),
    $corner: var(--color-background)
) {
    &::-webkit-scrollbar {
        width: 20px;
    }

    &::-webkit-scrollbar-corner {
        background: $corner;
    }

    &::-webkit-scrollbar-track {
        background-color: $track;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $thumb;
        border-radius: 6px;
        border: 4px solid $thumb-border;
        background-clip: content-box;
        min-width: 32px;
        min-height: 32px;
    }
}

.tb-scrollbar {
    @include scrollbar();
}