@mixin icon(
    $image-url: '',
    $width: 18px,
    $height: 18px,
) {
    width: $width;
    height: $height;
    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
    vertical-align: -4px;
    background-image: url($image-url);
}

@mixin bold-text-color($text-color: var(--color-green)) {
    font-weight: bold;
    color: $text-color;
}

.bold-green {
    @include bold-text-color(var(--color-green));
}

.to-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin flex-x-start-y-center($height: null) {
    display: flex;
    justify-content: start;
    align-items: center;
    
    @if $height {
        height: $height;
    }
}

@mixin flex-x-center-y-center($height: null) {
    display: flex;
    justify-content: center;
    align-items: center;
    
    @if $height {
        height: $height;
    }
}