@charset 'utf-8';

@use '$styles/variables.scss';
@use '$styles/base.scss';
@use '$styles/transitions.scss';
@use '$styles/fonts.scss';
@forward '$styles/scrollbar.scss';
@forward '$styles/utils.scss';

@mixin display-flex-center {
    display: flex;
    align-items: center;
    align-content: center;
    height: 100%;
}