:root {
    --color-background: #181818;
    --color-background-soft: #222222;
    --color-background-mute: #282828;

    --color-border: rgba(84, 84, 84, 0.48);
    --color-border-hover: rgba(84, 84, 84, 0.65);

    --color-heading: #ffffff;
    --color-text: rgba(235, 235, 235, 0.64);

    --color-green: #00bd7e;
    --color-green-darker: #01a16c;
    --color-green-lighter: #00d68f;

    --color-red: #e61001;

    --main-font-size: 15px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

a,
.green {
    text-decoration: none;
    color: var(--color-green);
    transition: 0.4s;
}

body {
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--main-font-size);
}

main {
    margin: 0.5em;
}