@mixin bold-text-color($text-color: var(--color-green)) {
    font-weight: bold;
    color: $text-color;
}

@mixin to-center() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-top: auto;
    margin-right: 5px;
    margin-bottom: auto;
    margin-left: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    vertical-align: -4px;
}

.bold-green {
    @include bold-text-color(var(--color-green));
}

.loading-text {
    @include to-center();
    @include bold-text-color(var(--color-green));
}

.bold-green-message {
    @include bold-text-color(var(--color-green));
    text-align: center;
    margin-top: 1em;
}

.bold-red-message {
    @include bold-text-color(var(--color-red));
    text-align: center;
    margin-top: 1em;
}