@charset 'utf-8';

@use '$assets/variables.scss';
@use '$assets/base.scss';
@use '$assets/transitions.scss';

@forward '$assets/scrollbar.scss';
@forward '$assets/utils.scss';
@use '$assets/utils.scss';

html {
    overflow: hidden;
}

body {
    -webkit-app-region: drag;
}

main {
    user-select: none;
    text-align: center;
}

.n-button {
    -webkit-app-region: no-drag;
}

.labeled-switch-wrapper {
    @include utils.flex-x-start-y-center($height: 100%);

    .switch-label {
        @include utils.flex-x-start-y-center($height: 100%);
        padding-left: 0.5rem;
    }
}