@charset 'utf-8';

@use '$assets/variables.scss';
@use '$assets/base.scss';
@use '$assets/transitions.scss';

@forward '$assets/scrollbar.scss';
@forward '$assets/utils.scss';
@use '$assets/utils.scss';

html {
    overflow: hidden;
}

.config-divider {
    margin-top: 1em !important;
    margin-bottom: 0.5em !important;
}

.config-divider:first-of-type {
    margin-top: 0.3em !important;
}

.config-label {
    @include utils.flex-x-start-y-center($height: 100%);
    padding-left: 0.5rem;
}

.config-input, .config-select {
    margin-right: 0.5rem;
}

.result-info, .result-sucess {
    padding: 1em;
    user-select: none;
}