@charset 'utf-8';

@use '$assets/variables.scss';
@use '$assets/base.scss';
@use '$assets/transitions.scss';
@use '$assets/fonts.scss';
@forward '$assets/scrollbar.scss';
@forward '$assets/utils.scss';

@mixin display-flex-center {
    display: flex;
    align-items: center;
    height: 100%;
}

@mixin ui-tag {
    width: max-content;
    height: 100%;
}

@mixin tag-wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    
    width: inherit;
    height: inherit;
    padding-right: 0.5rem;
}