@charset 'utf-8';

@use '$renderer/assets/variables.scss';
@use '$renderer/assets/base.scss';
@use '$renderer/assets/transitions.scss';
@use '$renderer/assets/fonts.scss';
@forward '$renderer/assets/scrollbar.scss';
@forward '$renderer/assets/utils.scss';

@mixin display-flex-center {
    display: flex;
    align-items: center;
    height: 100%;
}

@mixin ui-tag {
    width: max-content;
    height: 100%;
}

@mixin tag-wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    
    width: inherit;
    height: inherit;
    padding-right: 0.5rem;
}